@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

body{
  // background-color: #2f264d;
  background-image: url('https://images.alphacoders.com/774/774073.jpg');
  // linear-gradient(147deg, #120930 0%, #2c3e50 74%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;


}
#stockBox{
  display: flex;
  justify-content:center;
  justify-self: center;
  color: white;
  background-color: #090947;
  background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);
  width:auto;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
  border-radius: 80px;
  font-size: 120%;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;

}
.grow { 
  transition: all .5s ease-in-out; 
  }
   
  .grow:hover { 
  transform: scale(1.1); 
  }
.closeButton{
  position: absolute;
  right: 10px;
  top:0;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  
}  

.popup_inner {  
  align-content: center;
  position: absolute;  
  left: 10%;  
  right: 10%;  
  top: 20%;  
  bottom: 20%;    
  border-radius: 20px;  
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #5e5368 74%);
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
}

#stockBuyInfo{
  width: 48%;
  position: absolute;
  right: 0px;
  font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

#title{
  font-size: 100px;
  background: -webkit-linear-gradient(315deg, #4a06a4 0%, #108d04 74%);
  font-family: 'Kanit', sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


